@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html, body {
        @apply h-full;
    }

    .select-list {
        @apply w-full;
    }

    .select-list-contents {
        @apply bg-surface-100-900;
    }

    table > .actions {
        @apply px-4 py-2;
    }
}